<footer class="footer">
    <div class="footer-content">
        <div class="footer-column">
            <h3>Vợt</h3>
            <ul>
                <li>Yonex</li>
                <li>Li-ning</li>
                <li>Victor</li>
                <li>Mizuno</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Áo</h3>
            <ul>
                <li>Yonex</li>
                <li>Li-ning</li>
                <li>Victor</li>
                <li>Mizuno</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Balo</h3>
            <ul>
                <li>Yonex</li>
                <li>Li-ning</li>
                <li>Victor</li>
                <li>Mizuno</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Theo dõi</h3>
            <div class="social-icons">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="/assets/images/instagram.png" alt="Instagram">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="/assets/images/facebook.png" alt="Facebook">
                </a>
                <a href="https://zalo.me" target="_blank">
                    <img src="/assets/images/zalo.webp" alt="Zalo">
                </a>
                <a href="https://www.x.com" target="_blank">
                    <img src="/assets/images/X.avif" alt="X (Twitter)">
                </a>
            </div>
            <h3>SUBSCRIBE US</h3>
            <form class="subscribe-form">
                <input type="email" placeholder="Enter email address">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</footer>
