<nav class="breadcrumb">
  <ul>
    <li><a href="#">Home</a></li>
    <li><span>/</span></li>
    <li><a href="#">Non-fiction</a></li>
    <li><span>/</span></li>
    <li><a href="#">Self-development</a></li>
  </ul>
</nav>
<div class="container">
  <div class="cart">
    <div class="free-shipping">Đơn hàng được miễn phí vận chuyển</div>
    <table>
      <thead>
        <tr style="background-color: #b1bac346">
          <th>THÔNG TIN SẢN PHẨM</th>
          <th>ĐƠN GIÁ</th>
          <th>SỐ LƯỢNG</th>
          <th>THÀNH TIỀN</th>
          <th>XÓA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="product">
              <img src="/assets/images/df.jpg" alt="Balo" />
              <div>
                <div class="name">Balo đá ngoại NH100 10L</div>
                <div>Tím</div>
              </div>
            </div>
          </td>
          <td class="price">79.000đ</td>
          <td>
            <div class="quantity">
              <div class="frame-input">
                <button>-</button>
                <input type="text" value="2" />
                <button>+</button>
              </div>
            </div>
          </td>
          <td class="price">158.000đ</td>
          <td><span class="material-symbols-outlined"> Close </span></td>
        </tr>

        <!-- Thêm các sản phẩm khác tương tự ở đây -->
      </tbody>
    </table>
  </div>
  <div class="summary">
   <div class="infor">
    <div class="title">THÔNG TIN ĐƠN HÀNG</div>
    <div class="total-mount">
      Tổng tiền:
      <span style="font-weight:bold;color: red; float: right">3.637.000đ</span>
    </div>
    <div class="total-mount">
        <div>
            Giảm giá:
            <span style="color: rgb(198, 197, 197); float: right">Áp dụng tại trang thanh toán</span>
  
        </div>
        <div>
            Phí vận chuyển:
            <span style="color: rgb(165, 157, 157); float: right">Được tính tại trang thanh toán</span>
  
        </div>
    </div>
    <div class="coupon">
      <div>Mã khuyến mãi có thể áp dụng:</div>
      <div class="coupon-tags">
        <span class="coupon-tag">10% OFF</span>
        <span class="coupon-tag">15% OFF</span>
        <span class="coupon-tag">50k</span>
        <span class="coupon-tag">10% OFF</span>
        <span class="coupon-tag">15% OFF</span>
        <span class="coupon-tag">50k</span>
      </div>
    </div>

    <a href="#" class="checkout-btn">THANH TOÁN</a>
    <a
      href="#"
      style="
        display: block;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #1a94ff;
        text-decoration: none;
      "
      >Tiếp tục mua hàng</a
    >
   </div>
    <div style="margin-top: 20px">
      <div>Hỗ trợ thanh toán với</div>
      <div style="margin-top: 10px">
        <img
          class="payment"
          src="/assets/images/Momo.png"
          alt="momo"
          style="margin-right: 10px"
        />
        <img
          class="payment"
          src="/assets/images/Zalopay.png"
          alt="zalopay"
          style="margin-right: 10px"
        />
        <img
          class="payment"
          src="/assets/images/VNpay.png"
          alt="vnpay"
          style="margin-right: 5px"
        />
      </div>
    </div>
  </div>
</div>
