<div class="container-list">
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of productList" (click)="detailproduct(product.idproduct,product.nameproduct)">
      <img
        [src]="product.image[0].image4"
        alt="Product"
        class="product-image"
      />
      <span class="discount-badge" *ngIf="product.deprice > 0"
        >-{{ product.deprice }}%</span
      >
      <div class="product-info">
        <div class="product-tags">
          <span class="tag">10.10</span>
          <span class="tag">Freeship+</span>
          <span class="tag">Siêu rẻ</span>
        </div>
        <h3 class="product-title">{{ product.nameproduct }}</h3>
        <div class="frame-price-sold">
          <div class="product-price">
            {{ product.price | number : "1.0-0" }}đ
          </div>
          <div class="product-sold">Đã bán 24k</div>
        </div>
      </div>
    </div>
    <!-- Repeat this product-card div for each product -->
  </div>
</div>
