<div class="status-selection" *ngIf="showStatusSelection">
  <div *ngFor="let status of orderStatuses; trackBy: trackByCode">
    <input
      type="radio"
      name="orderStatus"
      [value]="status.code"
      [(ngModel)]="selectedStatus"
      (change)="filterByStatus(status.code)"
    />
    {{ status.description }}
  </div>
  <div class="frame-selector">
    <button (click)="confirmStatusChange()">Ok</button>
  </div>
</div>

<div class="container-order">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="idbill">
          <th class="table-header" mat-header-cell *matHeaderCellDef>Mã</th>
          <td class="table-cell" mat-cell *matCellDef="let element">{{ element.idbill }}</td>
        </ng-container>

        <ng-container matColumnDef="namecustomer">
          <th class="table-header" mat-header-cell *matHeaderCellDef>Tên Khách Hàng</th>
          <td class="table-cell"mat-cell *matCellDef="let element">{{ element.namecustomer }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th class="table-header" mat-header-cell *matHeaderCellDef>SĐT</th>
          <td class="table-cell" mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="totalamount">
          <th class="table-header" mat-header-cell *matHeaderCellDef>Tổng Tiền</th>
          <td class="table-cell" mat-cell *matCellDef="let element">
            {{ element.totalamount | number:'1.0-0' }}đ
          </td>
        </ng-container>

        <ng-container matColumnDef="dateorder">
          <th class="table-header" mat-header-cell *matHeaderCellDef>Ngày Mua</th>
          <td class="table-cell" mat-cell *matCellDef="let element">
            {{ element.dateorder |date : "dd/MM/yyyy"  }}
          </td>
        </ng-container>

        <div>
          <ng-container matColumnDef="status">
            <th class="table-header" mat-header-cell *matHeaderCellDef>
              Trạng Thái
              <span
                class="material-symbols-outlined"
                (click)="toggleSort()"
                style="cursor: pointer"
              >
                {{
                  sortDirection === "asc"
                    ? "arrow_upward_alt"
                    : "arrow_downward_alt"
                }}
              </span>
            </th>
            <td class="table-cell" mat-cell *matCellDef="let element">
              <select
                [(ngModel)]="element.status"
                [ngStyle]="{
                  'color': getStatusColor(element.status)
                }"
                 disabled
              >
                <option
                  *ngFor="let status of orderStatuses"
                  [value]="status.code"
                  [ngStyle]="{
                    'color': getStatusColor(status.code)
                  }"
                >
                  {{ status.description }}
                </option>
              </select>
            </td>
          </ng-container>
        </div>

        <ng-container matColumnDef="actions">
          <th class="table-header" mat-header-cell *matHeaderCellDef></th>
          <td class="table-cell" mat-cell *matCellDef="let element">
            <button (click)="editBill(element.idbill)">Edit</button>
          </td>
        </ng-container>

        <tr class="table-header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="change-page">
    <app-paging
      [totalPages]="Math.ceil(totalBills/pageSize)"
      [currentPage]="pageIndex"
      (pageChanged)="onPageChanged($event)"
    ></app-paging>
  </div>

