<div class="modal-overlay">
    <div class="container">
           <div class="container-icon">
            <span class="material-symbols-outlined">
                delete
                </span>
           </div>
           <div>
                Are you sure you want to delete this item?
           </div>
           <div class="container-button">
            <button mat-button (click)="delete()" style="background-color: brown; color: #f1e3e3;">
              Delete
            </button>
            <button mat-button (click)="closeModal()">Cancel</button>
          </div>
          
</div>