<div class="container">
  <div class="header">
    <span class="material-symbols-outlined" style="cursor: pointer">
      arrow_back
    </span>
    <a href="#" class="add-product">
      <span>+ Thêm Sản Phẩm</span>
    </a>
  </div>
  <div class="product-form">
    <div class="form-left">
      <label>Tên Sản Phẩm</label>
      <input
        type="text"
        [(ngModel)]="Product.nameproduct"
        maxlength="20"
        placeholder="Nhập tên sản phẩm"
      />
      <p class="note">
        Do not exceed 20 characters when entering the product name.
      </p>
    
      <div class="dropdowns">
        <div>
          <label>Loại</label>
          <select [(ngModel)]="Product.idkindproduct">
            <option value="" disabled selected>Chọn loại sản phẩm</option>
            <option *ngFor="let kind of Kinds" [value]="kind.idkindproduct">{{ kind.nameproduct }}</option>
          </select>
        </div>
        <div>
          <label>Thương Hiệu</label>
          <select [(ngModel)]="Product.idbrand">
            <option value="" disabled selected>Chọn thương hiệu</option>
            <option *ngFor="let brand of Brands" [value]="brand.idbrand">{{ brand.namebrand }}</option>
          </select>
        </div>
      </div>
    
      <div class="dropdowns">
        <div>
          <label>Giá</label>
          <input
            type="number"
            [(ngModel)]="Product.price"
            placeholder="Nhập giá sản phẩm"
            style="width: 250px;"
          />
        </div>
        <div>
          <label>Ngày</label>
          <input
            type="date"
            [(ngModel)]="Product.available"
            style="width: 250px;"
          />
        </div>
      </div>
    
      <label>Mô tả</label>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="Product.description"
          [disabled]="false"
          [placeholder]="'Type here...'"
        ></ngx-editor>
      </div>
      <p class="note"></p>
    </div>
    

    <div class="form-right">
      <label>Ảnh Sản Phẩm</label>
      <div class="images-upload">
        <div class="image-upload-box">
          <input
            type="file"
            id="file-upload"
            accept="image/*"
            (change)="onImageSelect($event)"
            multiple
            hidden
          />
          <label for="file-upload" class="upload-label">
            <span class="material-icons">photo_camera</span>
          </label>
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[0]"
            [src]=" getImageUrl(selectedImagesList[0])"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[0]"(click)="removeImage(0)" class="delete-btn">x</button>  
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[1]"
            [src]=" getImageUrl(selectedImagesList[1])"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[1]" (click)="removeImage(1)"class="delete-btn">x</button> 
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[2]"
            [src]=" getImageUrl(selectedImagesList[2])" 
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[2]" (click)="removeImage(2)"class="delete-btn">x</button> 
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[3]"
            [src]=" getImageUrl(selectedImagesList[3])"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[3]" (click)="removeImage(3)"class="delete-btn">x</button> 
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[4]"
            [src]=" getImageUrl(selectedImagesList[4])"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[4]"(click)="removeImage(4)" class="delete-btn">x</button> 
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[5]"
            [src]="selectedImagesList[5]"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[5]" (click)="removeImage(5)"class="delete-btn">x</button> 
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[6]"
            [src]="selectedImagesList[6]"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[6]"(click)="removeImage(6)" class="delete-btn">x</button> 
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[7]"
            [src]="selectedImagesList[7]"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[7]" (click)="removeImage(7)"class="delete-btn">x</button> 
        </div>
        <div class="image-upload-box">
          <img
            *ngIf="selectedImagesList[8]"
            [src]="selectedImagesList[8]"
            class=""
            alt="Selected Image"
          />
          <button  *ngIf="selectedImagesList[8]" (click)="removeImage(8)"class="delete-btn">x</button> 
        </div>
      </div>
      <p class="note">Bạn có thể thêm tối đa 9 tấm ảnh về sản phẩm</p>
      <div class="stock">
        <div class="stock-input">
          <label>Màu</label>
          <input  type="text" [(ngModel)]="newColor" />
          <label>Size</label>
          <input type="text" [(ngModel)]="newSize" />
          <label>Số lượng</label>
          <input type="text" [(ngModel)]="newQuantity "/>
          <button type="button" (click)="addProductStock()">Thêm</button>
        </div>
        <table class="product-stock-table" border="1" cellpadding="4" cellspacing="0">
          <thead>
            <tr>
              <th>Màu</th>
              <th>Kích thước</th>
              <th>Số lượng</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productStock of  paginatedProductStocks">
              <td>{{ productStock.namecolor }}</td>
              <td>{{ productStock.namesize }}</td>
              <td>{{ productStock.quatity }}</td>
              <td>
                <button class="delete-btn" (click)="removeProductStock(productStock)">X</button>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>

      <div class="actions">
        <button class="add-product-btn" (click)="onAddProduct()">Thêm</button>
        <button class="save-product-btn">Save Product</button>
        <button class="schedule-btn">Schedule</button>
      </div>
    </div>
  </div>
</div>
