<app-heaher></app-heaher>
<div class="container">
  <div class="menu-container">
    <div
      class="menu-item"
      [ngClass]="{ active: menu === 'thongtin' }"
      (click)="hidemenu('thongtin')"
    >
      <span class="material-symbols-outlined"> account_box </span>
      <div>Thông Tin</div>
    </div>
    <div
      class="menu-item"
      [ngClass]="{ active: menu === 'donmua' }"
      (click)="hidemenu('donmua')"
    >
      <span class="material-symbols-outlined"> list_alt </span>
      <div>Đơn Mua</div>
    </div>
    <div
      class="menu-item"
      [ngClass]="{ active: menu === 'doimatkhau' }"
      (click)="hidemenu('doimatkhau')"
    >
      <span class="material-symbols-outlined"> rule_settings </span>
      <div>Đổi Mật Khẩu</div>
    </div>
    <div class="menu-item" (click)="logout()">
      <span class="material-symbols-outlined"> output </span>
      <div>Đăng Xuất</div>
    </div>
  </div>

  <div class="infor-menu-container" *ngIf="menu === 'thongtin'">
    <div class="name-infor">
      <div>Hồ Sơ Của Tôi</div>
    </div>
    <div class="content-infor" *ngIf="adcustomer">
      <div class="content-left">
        <div class="content-form-input" style="margin-top: 40px">
          <div style="margin-left: 40px; margin-right: 20px; color: #666666">
            Tên
          </div>
          <input
            type="text"
            [(ngModel)]="adcustomer.namecustomer"
            placeholder="Tên khách hàng"
          />
        </div>
        <div class="content-form-input" style="margin-top: 35px">
          <div style="margin-left: 40px; margin-right: 20px; color: #666666">
            Số điện thoại
          </div>
          <div>{{ maskPhoneNumber(adcustomer.phone) }}</div>
        </div>
        <div class="content-form-input" style="margin-top: 35px">
          <div style="margin-left: 40px; margin-right: 20px; color: #666666">
            Email
          </div>
          <div>{{ adcustomer.email }}</div>
        </div>
        <div class="content-form-input" style="margin-top: 35px">
          <div style="margin-left: 40px; margin-right: 20px; color: #666666">
            Ngày sinh
          </div>
          <input type="date" id="birthday" name="birthday" />
        </div>
        <div class="content-form-input">
          <div
            style="margin-left: 40px; margin-right: 100px; color: #666666"
          ></div>
          <button (click)="uploadProfile()">Lưu</button>
        </div>
      </div>
      <div class="content-right">
        <div
          class="image-upload-container"
          style="margin-top: 35px; text-align: center"
        >
          <div class="image-container">
            <img
              id="profileImage"
              [src]="profileImageUrl"
              alt="{{ profileImageUrl }}"
            />
          </div>
          <input
            type="file"
            id="fileInput"
            accept="image/*"
            (change)="onFileSelected($event)"
            style="display: none"
          />
          <label for="fileInput" class="upload-btn">Chọn ảnh</label>
        </div>

        <div class="content-form-input">
          <div style="margin-right: 20px; color: #666666">Thành Phố/Tỉnh</div>
          <input
            type="text"
            [(ngModel)]="adcustomer.province"
            placeholder="Tỉnh"
          />
        </div>
        <div class="content-form-input">
          <div style="margin-right: 20px; color: #666666">Quận/Huyện</div>
          <input
            type="text"
            [(ngModel)]="adcustomer.district"
            placeholder="Quận"
          />
        </div>
        <div class="content-form-input">
          <div style="margin-right: 20px; color: #666666">Xã</div>
          <input
            type="text"
            [(ngModel)]="adcustomer.village"
            placeholder="Xã"
          />
        </div>
        <div class="content-form-input">
          <div style="margin-right: 20px; color: #666666">Ấp</div>
          <input type="text" [(ngModel)]="adcustomer.hamlet" placeholder="Ấp" />
        </div>
      </div>
    </div>
  </div>

  <!--GIỎ HÀNG-->
  <div class="infor-menu-container" *ngIf="menu == 'donmua'">
    <div class="nav-container">
      <div class="nav-tabs">
        <div class="nav-tab active">Tất cả</div>
        <div class="nav-tab">Chờ thanh toán</div>
        <div class="nav-tab">Vận chuyển</div>
        <div class="nav-tab">Chờ giao hàng</div>
        <div class="nav-tab">Hoàn thành</div>
        <div class="nav-tab">Đã hủy</div>
        <div class="nav-tab">Trả hàng/Hoàn tiền</div>
      </div>
      <div class="search-bar">
        <input
          type="text"
          class="search-input"
          placeholder="Bạn có thể tìm kiếm theo tên"
        />
      </div>
    </div>
    <div class="card" *ngFor="let bill of bills">
      <div class="header">
        <button class="like-button">Yêu thích+</button>
        <div class="actions">
          <button class="action-button"></button>
          <button class="action-button"></button>
        </div>
      </div>
      <div class="status">{{ bill.status }}</div>
      <div class="product" *ngFor="let order of ordersByBillId[bill.idbill]">
        <div class="listproduct"*ngFor="let product of productOrderIds[order.idproduct] || []">
          <div class="product-image">
            <img [src]="product.image[0].image4" alt="{{ product.nameproduct }}" />
          </div>
          <div class="product-details">
            <div class="product-name">{{product.nameproduct}}</div>
            <div class="product-variant">Phân loại hàng: {{order.size}}</div>
            <div class="product-return">Trả hàng miễn phí 15 ngày</div>
            <div class="product-price">
              <span>x1</span>
              <div>
                <span class="original-price">₫480.000</span>
                <span class="discounted-price">{{order.price| number:'1.0-0'}}đ</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="total">Thành tiền: {{bill.totalamount|number:'1.0-0'}}đ</div>
      <div class="footer">
        <span class="rating-reminder">Đánh giá sản phẩm trước 31-10-2024</span>
        <div class="action-buttons">
          <button class="rate-button">Đánh Giá</button>
          <button class="more-button">Thêm</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-notification *ngIf="hidenotify" [message]="message"></app-notification>
