<header class="header">
  <div class="search-container">
    <span class="material-symbols-outlined">
      search
      </span>
    <input type="text" class="search-input" placeholder="Tìm kiếm ..." />
  </div>
  <div class="icon-container">
    <span class="material-symbols-outlined icon">
      notifications_active</span
    >
    <img
      src="/api/placeholder/32/32"
      alt="Profile picture"
      class="profile-picture"
    />
    <span class="greeting">Hi, Hizrian</span>
  </div>
</header>
